@import "variables";

/* KEY SKILLS */

#key-skills {
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    article {
      display: flex;
      box-sizing: border-box;
      flex-grow: 1;
      flex-basis: 0;
      gap: 32px;
      border-radius: 24px;
      padding: 56px 56px 56px 32px;
      background: $surface-default;
      background: linear-gradient(180deg, #212121 0%, #141414 100%);
      h3 {
        box-sizing: border-box;
        text-align: center;
        border-radius: 4px;
        padding: 8px;
        width: 64px;
        height: 64px;
        background: $grey-950;
      }
      p {
        flex-grow: 1;
        flex-basis: 0;
        font-weight: 200;
        font-size: 20px;
        line-height: 160%;
        color: $text-disabled;
      }
    }
  }
}