@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import "variables";


/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $surface-subtle;
  color: $text-body;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-weight: 300;
  font-size: 82px;
  line-height: 120%;
  color: $text-title;
  background: linear-gradient(58deg, #bcbdb9 0%, #f5f5f4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 300;
  font-size: 52px;
  line-height: 120%;
  color: $text-subtitle;
}

.fixed-position {
  overflow: hidden;
}

.btn {
  font-weight: 500;
  line-height: 24px;
  border-radius: 56px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.3px;
}

.btn-m {
  font-size: 14px;
  padding: 11px 36px;
}

.btn-l {
  font-size: 14px;
  padding: 24px 56px;
}

.btn-ic {
  padding: 23px;
}



.btn-primary {
  color: $text-negative;
  background-color: $surface-primary-default;
  &:hover {
    background-color: $surface-primary-lighter;
  }
}

.btn-secondary {
  color: $text-primary-default;
  border: 1px solid $border-primary-default;
  background-color: $primary-950;
  &:hover {
    color: $text-primary-lighter;
    border: 1px solid $border-primary-lighter;
    background-color: $primary-900;
  }
}

.btn-download:before {
  content: "";
  margin-right: 2px;
  width: 24px;
  height: 24px;
  background-image: url("../assets/ic_document-download.svg");
}

/* HEADER */
header,
.nav-links,
.main-nav  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.container {
  margin: 40px auto 24px;
}

.nav-burger {
  padding: 11px 11px;
  display: none;
  background-color: $surface-default;
  border: 1px solid $border-subtle;
  border-radius: 48px;
}


.main-nav {
  transition: all 0.3s ease;
  background-color: $surface-default;
  border: 1px solid $border-subtle;
  border-radius: 48px;
  &.nav-active {
    display: flex;
  }
  &:hover {
    border: 1px solid $border-default;
    background-color: $surface-subtle;
  }
  .nav-links{
  }
  .nav-links {
    padding: 0 16px;
    list-style: none;
    gap: 16px;
    li {
      a {
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        padding: 16px 8px;
        color: $text-caption;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          color: $text-body;
        }
      }

    }

    &:hover {
      //border-color: $border-default;
    }

  }
}

/* HERO BANNER */
#hero-banner {
  padding-top: 80px;
  padding-bottom: 80px;
  p {
    color: $text-disabled;
    font-weight: 300;
  }
  .sub-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .banner-intro {
    margin-bottom: 64px;
  }
  .banner-description {
    .main {
      font-size: 20px;
      line-height: 32px;
      display: flex;
      justify-content: space-between;
      gap: 64px;
      p {
        flex-grow: 1;
        flex-basis: 0;
      }
      span {
        color: $text-subtitle;
      }
    }
    margin-bottom: 104px;
  }
  .banner-links {
    display: flex;
    gap: 32px;
    .links-social {
      display: flex;
      gap: 32px;
      justify-content: center;
    }
  }
}
