@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #10100F;
  color: #E9E9E7;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
}

section.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

section h2 {
  margin-bottom: 40px;
}

h1 {
  font-weight: 500;
  font-size: 82px;
  line-height: 120%;
  color: #F5F5F4;
  background: linear-gradient(58deg, #bcbdb9 0%, #f5f5f4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 300;
  font-size: 52px;
  line-height: 120%;
  color: #D2D3CF;
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #F5F5F4;
}

.fixed-position {
  overflow: hidden;
}

.links-social {
  display: flex;
  gap: 32px;
  justify-content: center;
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

.btn {
  font-weight: 500;
  line-height: 24px;
  border-radius: 56px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.3px;
}

.btn-m {
  font-size: 14px;
  padding: 11px 36px;
}

.btn-l {
  font-size: 14px;
  padding: 24px 56px;
}

.btn-ic {
  padding: 23px;
}

.btn-primary {
  color: #1D1D1B;
  background-color: #DBFF00;
}
.btn-primary:hover {
  background-color: #EBFF66;
}
.btn-primary:active {
  background-color: #B2CD00;
}

.btn-secondary {
  color: #DBFF00;
  border: 1px solid #DBFF00;
  background-color: #171900;
}
.btn-secondary:hover {
  color: #EBFF66;
  border: 1px solid #EBFF66;
  background-color: #2D3300;
}
.btn-secondary:active {
  color: #B2CD00;
  border: 1px solid #B2CD00;
  background-color: #10100F;
}

.btn-download:before {
  content: "";
  margin-right: 2px;
  width: 24px;
  height: 24px;
}

.btn-secondary.btn-download:before {
  background-image: url("../assets/ic_document-download.svg");
}

.btn-primary.btn-download:before {
  background-image: url("../assets/ic_document-download-bk.svg");
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* HEADER */
header,
.nav-links,
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.container {
  margin: 40px auto 24px;
}

.nav-burger {
  padding: 11px 11px;
  display: none;
  background-color: #1D1D1B;
  border: 1px solid #3A3A36;
  border-radius: 48px;
}

.main-nav {
  transition: all 0.3s ease;
  background-color: #1D1D1B;
  border: 1px solid #3A3A36;
  border-radius: 48px;
}
.main-nav.nav-active {
  display: flex;
}
.main-nav:hover {
  border: 1px solid #565752;
  background-color: #10100F;
}
.main-nav .nav-links {
  padding: 0 16px;
  list-style: none;
  gap: 16px;
}
.main-nav .nav-links li a {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 16px 8px;
  color: #BCBDB9;
  text-decoration: none;
  transition: all 0.3s ease;
}
.main-nav .nav-links li a:hover {
  color: #E9E9E7;
}
/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* HERO BANNER */
#hero-banner p {
  color: #73746C;
  font-weight: 200;
}
#hero-banner .sub-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
#hero-banner .banner-intro {
  margin-bottom: 64px;
}
#hero-banner .banner-description {
  margin-bottom: 104px;
}
#hero-banner .banner-description .main {
  font-size: 20px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
#hero-banner .banner-description .main p {
  flex-grow: 1;
  flex-basis: 0;
}
#hero-banner .banner-description .main span {
  color: #D2D3CF;
}
#hero-banner .banner-links {
  display: flex;
  gap: 32px;
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* KEY SKILLS */
#key-skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#key-skills .skills-container article {
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  gap: 32px;
  border-radius: 24px;
  padding: 56px 56px 56px 32px;
  background: #1D1D1B;
  background: linear-gradient(180deg, #212121 0%, #141414 100%);
}
#key-skills .skills-container article h3 {
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  width: 64px;
  height: 64px;
  background: #10100F;
}
#key-skills .skills-container article p {
  flex-grow: 1;
  flex-basis: 0;
  font-weight: 200;
  font-size: 20px;
  line-height: 160%;
  color: #73746C;
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* PROJECTS */
#projects .project {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  border-radius: 40px;
  padding: 56px;
  margin-bottom: 56px;
}
#projects .project .details-text {
  font-weight: 200;
}
#projects .project .details-text .period {
  font-size: 12px;
  line-height: 133%;
  color: #BCBDB9;
  margin-bottom: 16px;
}
#projects .project .details-text .name {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #F5F5F4;
}
#projects .project .details-text .type {
  font-size: 16px;
  line-height: 150%;
  color: #73746C;
  margin-bottom: 24px;
}
#projects .project .details-text .intro {
  font-size: 16px;
  line-height: 180%;
  color: #73746C;
}
#projects .project .details-text .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #E9E9E7;
  margin-bottom: 32px;
}
#projects .project .details-text .labels {
  margin-bottom: 4px;
}
#projects .project .details-text .labels .label {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.2px;
  color: #859A00;
  border-radius: 4px;
  padding: 4px 8px;
  background: #2D3300;
  display: inline-block;
  margin: 0 4px 8px 0;
}
#projects .project .details-text .project-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#projects .project .details-text .project-link-wrapper .project-link {
  font-weight: 300;
  letter-spacing: 0.2px;
  text-underline-offset: 8px;
  font-size: 16px;
  line-height: 150%;
  color: #DBFF00;
}
#projects .project .details-text .project-link-wrapper .project-link:hover {
  color: #EBFF66;
}
#projects .project .details-text .project-link-wrapper .project-link:active {
  color: #B2CD00;
}
#projects .project .details-image {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}
#projects .project .details-image .caption {
  font-weight: 200;
  font-size: 10px;
  line-height: 133%;
  color: #73746C;
  padding: 8px 16px 0;
}
#projects .project .details-image .caption a {
  color: #73746C;
}
#projects .more-projects .h1-alike {
  font-weight: 500;
  font-size: 82px;
  line-height: 120%;
  color: #D2D3CF;
  padding-top: 80px;
  margin-bottom: 40px;
}
#projects .more-projects .buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#my-expectations .expectations-wrapper .expectation, #projects .project {
  border: 2px solid #3A3A36;
}

/* MY EXPECTATIONS */
#my-expectations .expectations-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  font-weight: 200;
  font-size: 20px;
  line-height: 160%;
}
#my-expectations .expectations-wrapper .expectation {
  list-style: none;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 40px;
  padding: 56px;
}
#my-expectations .expectations-wrapper .expectation li {
  padding-left: 40px;
  margin-bottom: 16px;
  display: flex;
  margin-left: -10px;
  gap: 8px;
  position: relative;
}
#my-expectations .expectations-wrapper .expectation li:before {
  position: absolute;
  left: 0;
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
}
#my-expectations .expectations-wrapper .expectation li:last-of-type {
  margin-bottom: 0;
}
#my-expectations .expectations-wrapper .expectation.exp-positive {
  border-color: #043816;
  background: #031C0A;
  color: #EDFEF2;
}
#my-expectations .expectations-wrapper .expectation.exp-positive li:before {
  background-image: url("../assets/ic_circle-check-list.svg");
}
#my-expectations .expectations-wrapper .expectation.exp-negative {
  border-color: #330A05;
  background: #160401;
  color: #73746C;
}
#my-expectations .expectations-wrapper .expectation.exp-negative li:before {
  background-image: url("../assets/ic_circle-x-list.svg");
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#projects .project, #my-expectations .expectations-wrapper .expectation {
  border: 2px solid #3A3A36;
}

/* EDICATION */
#education .edu-items {
  padding-top: 40px;
}
#education .edu-items .edu-item {
  margin-bottom: 64px;
  padding: 0 88px;
}
#education .edu-items .edu-item .edu-wrapper {
  border-left: 2px solid #586601;
  padding: 32px 56px 32px 88px;
}
#education .edu-items .edu-item .edu-wrapper .period {
  font-weight: 200;
  font-size: 12px;
  line-height: 133%;
  color: #BCBDB9;
}
#education .edu-items .edu-item .edu-wrapper .title {
  font-weight: 400;
  font-size: 32px;
  line-height: 137%;
  color: #F5F5F4;
}
#education .edu-items .edu-item .edu-wrapper .sub-title {
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  color: #73746C;
  margin-bottom: 24px;
}
#education .edu-items .edu-item .edu-wrapper .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #E9E9E7;
}

/* FONT */
/* COLORS: PRIMITIVES */
/* COLORS: SEMANTIC */
/* COLORS: GREY */
/* COLORS: PRIMARY */
#projects .project, #my-expectations .expectations-wrapper .expectation {
  border: 2px solid #3A3A36;
}

/* FOOTER */
#footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 80px;
}
#footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
#footer p {
  display: flex;
  align-items: center;
  height: 72px;
}

/*# sourceMappingURL=style.css.map */
